# ignore molecule/testinfra pycache
**/__pycache__
.vscode
roles/ednz_cloud.*
vault_config.yml
consul_config.yml
**/certificates/**
**/secrets/credentials.yml
**/secrets/credentials.decrypt.yml
**/secrets/vault.yml
**/.ansible-vault
