# {{ ansible_managed }}

# {{ repository.comments}}
X-Repolib-Name: {{ repository.name }}
Types: {{ repository.types | join(' ') }}
URIs: {{ repository.uri }}
Suites: {{ repository.suites | join(' ') }}
Components: {{ repository.components | join(' ') }}
{% if (repository.options is defined) and repository.options %}
{% for option in repository.options %}
{% if option == "Signed-By" %}
{{ option }}: {{ manage_repositories_signing_keys_location + "/" + item.name + "-archive-keyring.asc" }}
{% else %}
{{ option }}: {{ repository.options[option] }}
{% endif %}
{% endfor %}
{% endif %}
