global_defs {
  script_user root
  enable_script_security
}

vrrp_script chk_haproxy {
  script "/etc/keepalived/scripts.d/chk_haproxy.sh"
  user root
  interval 3
  weight 0
  rise 6
  fall 1
}

vrrp_instance haproxy {
  interface {{ hashistack_ingress_virtual_ip_vrrp_interface }}

  state {{ hashistack_ingress_keepalived_init_state }}
  virtual_router_id {{ hashistack_ingress_virtual_ip_vrrp_router_id }}
  priority {{ hashistack_ingress_virtual_ip_vrrp_priority }}
  advert_int {{ hashistack_ingress_virtual_ip_vrrp_advertise_interval }}

  authentication {
    auth_type PASS
    auth_pass {{ hashistack_ingress_virtual_ip_vrrp_password }}
  }

  virtual_ipaddress {
    {{ hashistack_ingress_virtual_ip_addr }}/32 dev {{ hashistack_ingress_virtual_ip_interface }}
  }

  track_script {
    chk_haproxy
  }

  notify /etc/keepalived/scripts.d/notify.sh
}
