---
# hashi_consul_install: true
# hashi_consul_auto_update: false
# hashi_consul_start_service: true
# hashi_consul_version: latest
# hashi_consul_deploy_method: host  # deployment method, either host or docker.
# hashi_consul_env_variables: {}
# hashi_consul_data_dir: "/opt/consul"
# hashi_consul_extra_files: false
# hashi_consul_extra_files_src: /tmp/extra_files
# hashi_consul_extra_files_dst: /etc/consul.d/extra_files
# hashi_consul_envoy_install: false
# hashi_consul_envoy_version: latest
# #! consul configuration
# hashi_consul_configuration:
#   domain: consul
#   datacenter: dc1
#   primary_datacenter: dc1
#   client_addr: "0.0.0.0"
#   bind_addr: "{{ ansible_default_ipv4.address }}"
#   advertise_addr: "{{ ansible_default_ipv4.address }}"
#   data_dir: "{{ hashi_consul_data_dir }}"
#   encrypt: "{{ 'mysupersecretgossipencryptionkey'|b64encode }}"
#   server: true
#   bootstrap_expect: 1
#   retry_join:
#     - "{{ ansible_default_ipv4.address }}"
#   ui_config:
#     enabled: true
#   connect:
#     enabled: false
#   leave_on_terminate: true
#   rejoin_after_leave: true
#   enable_script_checks: true
#   enable_syslog: true
#   log_level: INFO
#   acl:
#     enabled: false
#     default_policy: "allow"
#     enable_token_persistence: true
#     tokens:
#       initial_management: ""
#       agent: ""
#   dns_config:
#     allow_stale: true
#     enable_truncate: true
#     only_passing: true
#   ports:
#     dns: 8600
#     http: 8500
#     https: -1
#     grpc: 8502
#     grpc_tls: 8503
#     server: 8300
#     serf_lan: 8301
#     serf_wan: 8302
#     sidecar_min_port: 21000
#     sidecar_max_port: 21255
#     expose_min_port: 21500
#     expose_max_port: 21755
#   # tls:
#   #   defaults:
#   #     ca_file: "{{ hashi_consul_data_dir }}/tls/ca.pem"
#   #     cert_file: "{{ hashi_consul_data_dir }}/tls/cert.pem"
#   #     key_file: "{{ hashi_consul_data_dir }}/tls/key.pem"
#   #     verify_incoming: false
#   #     verify_outgoing: true
#   #   grpc: {}
#   #   https: {}
