---
consul:
  root_token:
    secret_id: "{{ _consul_root_token }}"
  tokens:
    agent:
      accessor_id: "{{ _consul_agents_accesor }}"
      secret_id: "{{ _consul_agents_token }}"
    vault:
      accessor_id: "{{ _consul_vault_accessor }}"
      secret_id: "{{ _consul_vault_token }}"
nomad:
  root_token: "{{ _nomad_root_token }}"
