---
consul:
  gossip_encryption_key: "{{ _consul_gossip_encryption_key }}"
  root_token:
    secret_id: "{{ _consul_root_token }}"
  tokens:
    agent:
      accessor_id: "{{ _consul_agents_accessor }}"
      secret_id: "{{ _consul_agents_token }}"
    vault:
      accessor_id: "{{ _consul_vault_accessor }}"
      secret_id: "{{ _consul_vault_token }}"
    nomad:
      server:
        accessor_id: "{{ _consul_nomad_server_accessor }}"
        secret_id: "{{ _consul_nomad_server_token }}"
      client:
        accessor_id: "{{ _consul_nomad_client_accessor }}"
        secret_id: "{{ _consul_nomad_client_token }}"
nomad:
  gossip_encryption_key: "{{ _nomad_gossip_encryption_key }}"
  root_token:
    secret_id: "{{ _nomad_root_token }}"
